name: unit tests

on: [push, pull_request]

jobs:
  build:
    runs-on: [macos-latest]

    steps:
    - uses: actions/checkout@v1

    - name: Set up Python 3.9
      uses: actions/setup-python@v1
      with:
        python-version: 3.9

    - name: Set up Python 3.10
      uses: actions/setup-python@v1
      with:
        python-version: 3.10

    - name: Set up Python 3.11
      uses: actions/setup-python@v1
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip tox

    - name: Run tox
      run: |
        tox -e test
